@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;700&family=Great+Vibes&family=Libre+Baskerville:wght@400;700&family=Oswald:wght@300;400;500;600;700&family=Yellowtail&display=swap');
/* 

font-family: 'Cabin', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Libre Baskerville', serif;


*/
*{
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    scroll-behavior: smooth;

}

h1,h2,h3,h4,h5,h6{
    font-family: 'Oswald', sans-serif;
}
#home{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/slider/03.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.text-white{
    color: white !important;
}

.logo{
    text-align: center;
}

.logo img{
    width: 327px;
}

.home-text{
    color: white;
    text-align: center;
}

.home-text h1{
    font-size: 65px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.home-text p {
    font-family: 'Libre Baskerville', serif;
    font-style: italic;
}

.margin-top-bottom{
    margin: 50px 0;
}

#about{
    margin-top: 32px;
    text-align: center;
}
.about-header{
    display: inline-block;
    width: 500px;
    text-align: center;
}

.section-title
{
    text-align: center;
    font-family: "Cabin";
    font-weight: 600;
    font-size: 28px;
    color: #383733;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-history{
    display: flex;
    padding: 16px;
}

.history-left,.history-right{
 width: 49%;
}

.history-right img{
    width: 100%;
}

.history-title{
    font-family: "Great Vibes", serif;
    font-size: 62px;
    color: #c0a756;
    margin-bottom: 30px;
    text-align: center;
}
.home-p{
    font-size: 20px;
    font-style: italic;
    color: #fff;
    text-align: center;
    font-weight: 300;
    font-family: 'Libre Baskerville', serif;
    position: relative;
}
p{
    font-family: "Cabin", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #777777;
    margin-bottom: 40px;
    line-height: 32px;
    text-align: left;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.548);
    width: 100%;
    height: 70px;
    position: fixed;
}

.navbar-logo{
    width: 30%;
}

.navbar-list {
    width: 40%;
}

.navbar-list ul {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}

.navbar-list li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

.navbar-list li a:hover{
color: #c0a756;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex{
    display: flex;
}

.gold-color{
    color: #c0a756;
}


.golden-heading{
    font-family: "Great Vibes", serif;
    font-size: 62px;
    color: #c0a756;
    margin-bottom: 30px;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

.about-paragraph , .about-image{
    padding: 34px;
}

.about-header p{
    text-align: center;
    font-family: "Cabin";
    font-weight: 400;
    font-style: italic;
    font-size: 17px;
    color: #777777;
    margin-bottom: 60px;
}

/* Open Hours */

#open-hours{
    height: 45vh;
    background-image: url(images/parallax/opening_hours.jpg);
    background-size: cover;
    background-attachment: fixed;
}

#open-hours .section-title {
    color: white;
}
#open-hours h2{
    margin-bottom: 0;
}
.open-header{
    text-align: center;
}

.timetable-decorator{
    display: inline-block;
    width: 200px;
    height: 110px;
    background: url(images/timetable-decorator.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: " ";
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.timetable-decorator2{
    display: inline-block;
    width: 200px;
    height: 110px;
    background: url(images/timetable-decorator2.png);
    background-repeat: no-repeat;
    background-size: contain;
    content: " ";
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.opening-hours {
    display: inline-block;
    vertical-align: top;
    font-size: 39px;
    line-height: 110px;
}

.opening-hours-content .left{
    width:20% ;
    display: inline-block;
}

.opening-hours-content .right{
    width:20% ;
    display: inline-block;
}

.section-subtitle{
    color: #B29859;
    font-family: "Yellowtail", serif;
    font-size: 24px;
}

/* Menu Section */
#menu {
    margin-top: 50px;
    height: 100vh;
    background-image: url(images/menu_left.jpg),url(images/menu_right.jpg);
    background-position: top left , top right;
    background-repeat: no-repeat;
}

.menu-logo{
    text-align: center;
    margin-bottom: 50px;
}

.menu-margin{
    margin: 0 200px;
}

.menu-items {
    justify-content: center;
}
.category-title{
    text-transform: uppercase;
    text-align: center;
    color: #887025;
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 33px;
}

.dish-details{
 display: flex;
 align-items: center;
 width: 250px;   
}

.dish-details p{
    font-size: 13px;
    margin-bottom: 0;
    margin-right: 25px;
}

.dish-details span{
    font-size: 13px;
    font-style: italic;
    color: #bfa760;
}



